<div class="card card-outline card-primary">
    <div class="card-header"><h3 class="card-title">添加部门</h3></div>
    <div class="card-body">
        <form id="form-add" method="post" class="form-horizontal" data-url="hr/department/add" data-back="hr/department">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">部门名称</label>
                <div class="col-sm-6"><input type="text" name="row[name]" class="form-control" required placeholder="部门名称"></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">上级部门</label>
                <div class="col-sm-6">
                    <select name="row[pid]" class="form-control">
                        <option value="0">无（顶级）</option>
                        {volist name="parentList" id="p"}
                        <option value="{$p.id}">{$p.name}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">排序</label>
                <div class="col-sm-6"><input type="number" name="row[sort]" class="form-control" value="0"></div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <button type="submit" form="form-add" class="btn btn-primary">确定添加</button>
        <a href="{$config.moduleurl}/hr/department/index" class="btn btn-default ml-2">返回</a>
    </div>
</div>
