<div class="card card-outline card-primary">
    <div class="card-header"><h3 class="card-title">添加订单</h3></div>
    <div class="card-body">
        <form id="form-add" method="post" class="form-horizontal" data-url="mes/order/add" data-back="mes/order">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">订单名称</label>
                <div class="col-sm-6"><input type="text" name="row[order_name]" class="form-control" required placeholder="请输入订单名称"></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">客户</label>
                <div class="col-sm-6">
                    <select name="row[customer_id]" class="form-control" id="customer_id">
                        <option value="">请选择客户</option>
                        {volist name="customerList" id="vo"}
                        <option value="{$key}">{$vo}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">客户名称</label>
                <div class="col-sm-6"><input type="text" name="row[customer_name]" class="form-control" placeholder="选择客户后自动填充"></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">客户电话</label>
                <div class="col-sm-6"><input type="text" name="row[customer_phone]" class="form-control" placeholder="选择客户后自动填充"></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">交货时间</label>
                <div class="col-sm-6"><input type="datetime-local" name="row[delivery_time]" class="form-control"></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">订单状态</label>
                <div class="col-sm-6">
                    <select name="row[status]" class="form-control">
                        <option value="0">待生产</option>
                        <option value="1">生产中</option>
                        <option value="2">已完成</option>
                        <option value="3">已取消</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">备注</label>
                <div class="col-sm-6"><textarea name="row[remark]" class="form-control" rows="3" placeholder="请输入备注"></textarea></div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">订单型号</label>
                <div class="col-sm-10">
                    <div id="model-list">
                        <div class="model-item mb-2">
                            <select name="models[0][model_id]" class="form-control d-inline-block" style="width: 300px;">
                                <option value="">请选择型号</option>
                                {volist name="modelList" id="vo"}
                                <option value="{$key}">{$vo}</option>
                                {/volist}
                            </select>
                            <input type="number" name="models[0][quantity]" class="form-control d-inline-block" style="width: 150px; margin-left: 10px;" placeholder="数量" min="1" value="1">
                            <button type="button" class="btn btn-danger btn-sm ml-2 btn-remove-model" style="display:none;">删除</button>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success btn-sm mt-2" id="btn-add-model">添加型号</button>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-sm-6 offset-sm-2">
                <button type="submit" form="form-add" class="btn btn-primary">确定添加</button>
                <a href="{$config.moduleurl}/mes/order/index" class="btn btn-default ml-2">返回列表</a>
            </div>
        </div>
    </div>
</div>
