<div class="card panel-intro">
    <div class="card-header">
        <div class="panel-lead"><em>{:__('title')}</em> {:__('desc')}</div>
    </div>
    <div class="card-body">
        <ul class="nav nav-tabs mb-3" id="config-tabs" role="tablist">
            <li class="nav-item"><a class="nav-link active" href="javascript:;" data-group="base">{:__('tab_base')}</a></li>
            <li class="nav-item"><a class="nav-link" href="javascript:;" data-group="upload">{:__('tab_upload')}</a></li>
            <li class="nav-item"><a class="nav-link" href="javascript:;" data-group="safe">{:__('tab_safe')}</a></li>
            <li class="nav-item"><a class="nav-link" href="javascript:;" data-group="lang">{:__('tab_lang')}</a></li>
            <li class="nav-item"><a class="nav-link" href="javascript:;" data-group="cache">{:__('tab_cache')}</a></li>
        </ul>
        <div id="config-form"></div>
        <div class="mt-3">
            <button type="button" class="btn btn-primary" id="config-save"><i class="fas fa-save"></i> {:__('save')}</button>
        </div>
    </div>
</div>
