<div class="card card-outline card-primary">
    <div class="card-header"><h3 class="card-title">编辑分组</h3></div>
    <div class="card-body">
        <form id="form-edit" method="post" class="form-horizontal" data-id="{$row.id}" data-url="restaurant/option_group/edit" data-back="restaurant/option_group">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">菜品</label>
                <div class="col-sm-6">
                    <select name="row[item_id]" class="form-control" required>
                        <option value="">请选择</option>
                        {volist name="itemList" id="it"}
                        <option value="{$it.id}" {if $row.item_id==$it.id}selected{/if}>{$it.name}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">分组名称</label>
                <div class="col-sm-6"><input type="text" name="row[name]" class="form-control" required value="{$row.name|default=''}"></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">必选</label>
                <div class="col-sm-6">
                    <select name="row[required]" class="form-control">
                        <option value="0" {if $row.required==0}selected{/if}>否</option>
                        <option value="1" {if $row.required==1}selected{/if}>是</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">最少选择</label>
                <div class="col-sm-6"><input type="number" name="row[min_select]" class="form-control" value="{$row.min_select|default='0'}"></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">最多选择</label>
                <div class="col-sm-6"><input type="number" name="row[max_select]" class="form-control" value="{$row.max_select|default='1'}"></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">排序</label>
                <div class="col-sm-6"><input type="number" name="row[sort]" class="form-control" value="{$row.sort|default='0'}"></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">状态</label>
                <div class="col-sm-6">
                    <select name="row[status]" class="form-control">
                        <option value="1" {if $row.status==1}selected{/if}>启用</option>
                        <option value="0" {if $row.status==0}selected{/if}>禁用</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <button type="submit" form="form-edit" class="btn btn-primary">保存</button>
        <a href="{$config.moduleurl}/restaurant/option_group/index" class="btn btn-default ml-2">返回</a>
    </div>
</div>

