<div class="card panel-intro">
    <div class="card-header">
        <div class="panel-lead"><em>MES制造执行系统</em> 生产制造执行管理平台</div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box">
                    <span class="info-box-icon bg-info"><i class="fas fa-shopping-cart"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">订单管理</span>
                        <span class="info-box-number">0</span>
                        <a href="{$config.moduleurl}/mes/order/index" class="small-box-footer">查看详情 <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box">
                    <span class="info-box-icon bg-success"><i class="fas fa-cube"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">产品管理</span>
                        <span class="info-box-number">0</span>
                        <a href="{$config.moduleurl}/mes/product/index" class="small-box-footer">查看详情 <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box">
                    <span class="info-box-icon bg-warning"><i class="fas fa-sitemap"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">BOM管理</span>
                        <span class="info-box-number">0</span>
                        <a href="{:url('mes/bom/index')}" class="small-box-footer">查看详情 <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box">
                    <span class="info-box-icon bg-danger"><i class="fas fa-check-square"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">报工管理</span>
                        <span class="info-box-number">0</span>
                        <a href="{:url('mes/report/index')}" class="small-box-footer">查看详情 <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row mt-3">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header border-transparent">
                        <h3 class="card-title">快速导航</h3>
                    </div>
                    <div class="card-body p-0">
                        <ul class="products-list product-list-in-card pl-2 pr-2">
                            <li class="item">
                                <div class="product-info">
                                    <a href="{$config.moduleurl}/mes/order/index" class="product-title">订单管理</a>
                                    <span class="product-description">管理生产订单信息</span>
                                </div>
                            </li>
                            <li class="item">
                                <div class="product-info">
                                    <a href="{:url('mes/product/index')}" class="product-title">产品管理</a>
                                    <span class="product-description">管理产品及型号信息</span>
                                </div>
                            </li>
                            <li class="item">
                                <div class="product-info">
                                    <a href="{:url('mes/bom/index')}" class="product-title">BOM管理</a>
                                    <span class="product-description">管理物料清单</span>
                                </div>
                            </li>
                            <li class="item">
                                <div class="product-info">
                                    <a href="{$config.moduleurl}/mes/report/index" class="product-title">报工管理</a>
                                    <span class="product-description">管理报工记录</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header border-transparent">
                        <h3 class="card-title">基础数据</h3>
                    </div>
                    <div class="card-body p-0">
                        <ul class="products-list product-list-in-card pl-2 pr-2">
                            <li class="item">
                                <div class="product-info">
                                    <a href="{:url('mes/customer/index')}" class="product-title">客户管理</a>
                                    <span class="product-description">管理客户信息</span>
                                </div>
                            </li>
                            <li class="item">
                                <div class="product-info">
                                    <a href="{$config.moduleurl}/mes/supplier/index" class="product-title">供应商管理</a>
                                    <span class="product-description">管理供应商信息</span>
                                </div>
                            </li>
                            <li class="item">
                                <div class="product-info">
                                    <a href="{:url('mes/material/index')}" class="product-title">物料管理</a>
                                    <span class="product-description">管理物料信息</span>
                                </div>
                            </li>
                            <li class="item">
                                <div class="product-info">
                                    <a href="{$config.moduleurl}/mes/process/index" class="product-title">工序管理</a>
                                    <span class="product-description">管理生产工序</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
