<div class="container-main">
  <div class="member-layout">
    <div class="member-left">
      <div class="card">
        <div class="card-body">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item"><a class="nav-link" href="/index/customer/index" data-i18n="nav_place_order"><i class="fa fa-shopping-cart mr-2"></i>下单</a></li>
            <li class="nav-item"><a class="nav-link active" href="/index/customer/orders" data-i18n="nav_orders"><i class="fa fa-list mr-2"></i>我的订单</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="member-right">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title" data-i18n="title_orders">我的订单</h5>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th data-i18n="th_order_no">订单号</th>
                  <th data-i18n="th_status">状态</th>
                  <th data-i18n="th_amount">金额</th>
                  <th data-i18n="th_currency">币种</th>
                  <th data-i18n="th_time">下单时间</th>
                  <th data-i18n="th_action">操作</th>
                </tr>
              </thead>
              <tbody id="order-list">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/assets/js/customer-orders.js"></script>
