<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">库存盘点</h3>
                <div class="card-tools">
                    <form id="form-search" class="form-inline" action="{:url('mes/stock/index')}" method="get">
                        <div class="input-group input-group-sm" style="width: 250px;">
                            <input type="text" name="name" class="form-control float-right" placeholder="搜索物料名称">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table id="table" class="table table-striped table-bordered table-hover table-nowrap">
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
