<div class="card card-tabs">
    <div class="card-header">
        <ul class="nav nav-tabs" data-field="type">
            <li class="active"><a href="#t-stock" data-toggle="tab">{:__('库存列表')}</a></li>
            <li><a href="{:url('admin/mes/stock/log')}" data-toggle="tab">{:__('库存流水')}</a></li>
            <li><a href="{:url('admin/mes/stock/outbound')}" data-toggle="tab">{:__('领料单')}</a></li>
        </ul>
    </div>
    <div class="card-content">
        <div class="tab-pane active" id="t-stock">
            <div class="widget-body nopadding">
                <div id="toolbar" class="toolbar">
                    <button type="button" class="btn btn-default btn-refresh btn-xs">
                        <i class="fa fa-refresh"></i> {:__('刷新')}
                    </button>
                </div>
                <table id="table" class="table table-striped table-bordered table-hover table-nowrap">
                </table>
            </div>
        </div>
    </div>
</div>
