<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">生产领料管理</h3>
                <div class="card-tools">
                    <form id="form-search" class="form-inline" action="{:url('mes/stock/outbound')}" method="get">
                        <div class="input-group input-group-sm" style="width: 250px;">
                            <input type="text" name="search" class="form-control float-right" placeholder="搜索">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table id="table" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th><input type="checkbox" name="ids" value="" id="checkall" /></th>
                            <th>领料编号</th>
                            <th>订单编号</th>
                            <th>物料名称</th>
                            <th>领料数量</th>
                            <th>操作人</th>
                            <th>操作时间</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <div id="pagination" class="float-right"></div>
            </div>
        </div>
        <!-- /.card -->
    </div>
</div>
