<div class="card card-tabs">
    <div class="card-header">
        <ul class="nav nav-tabs" data-field="type">
            <li class="active"><a href="#t-list" data-toggle="tab"></a></li>
        </ul>
    </div>
    <div class="card-content">
        <div class="tab-pane active" id="t-list">
            <div class="widget-body nopadding">
                <div id="toolbar" class="toolbar">
                    <a href="{:url('/admin/mes/shipment/add')}" class="btn btn-primary btn-xs">
                        <i class="fa fa-plus"></i> 创建发货
                    </a>
                    <button type="button" class="btn btn-default btn-refresh btn-xs">
                        <i class="fa fa-refresh"></i> 刷新
                    </button>
                </div>
                <table id="table" class="table table-striped table-bordered table-hover table-nowrap"
                       data-operate-edit="{:url('admin/mes/shipment/edit')}"
                       data-operate-del="{:url('admin/mes/shipment/del')}">
                </table>
            </div>
        </div>
    </div>
</div>
