<div class="card">
    <div class="card-header">
        <h3 class="card-title">规格/口味选项</h3>
        <div class="card-tools">
            <a href="{$config.moduleurl}/restaurant/option/add" class="btn btn-primary btn-sm">添加选项</a>
            <button type="button" class="btn btn-default btn-sm btn-refresh">刷新</button>
        </div>
    </div>
    <div class="card-body table-responsive p-0">
        <table id="table" class="table table-striped table-bordered table-hover" width="100%"></table>
    </div>
</div>

