<div class="card panel-intro">
    <div class="card-header">
        <div class="panel-lead"><em>{:__('title')}</em> {:__('desc')}</div>
    </div>
    <div class="card-body">
        <div id="toolbar" class="toolbar mb-2">
            <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('refresh')}"><i class="fas fa-sync-alt"></i> {:__('refresh')}</a>
            <a href="{:url('member/add')}" class="btn btn-success btn-add" title="{:__('add')}"><i class="fas fa-plus"></i> {:__('add_user')}</a>
            <a href="javascript:;" class="btn btn-success btn-edit btn-disabled disabled" title="{:__('edit')}"><i class="fas fa-edit"></i> {:__('edit')}</a>
            <a href="javascript:;" class="btn btn-danger btn-del btn-disabled disabled" title="{:__('delete')}"><i class="fas fa-trash-alt"></i> {:__('delete')}</a>
        </div>
        <table id="table" class="table table-striped table-bordered table-hover" width="100%"></table>
    </div>
</div>
