<div class="card card-outline card-primary">
    <div class="card-header"><h3 class="card-title">{:__('add_title')}</h3></div>
    <div class="card-body">
        <form id="form-add" method="post" class="form-horizontal">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">{:__('rule_name')}</label>
                <div class="col-sm-6"><input type="text" name="name" class="form-control" required placeholder="{:__('rule_name_placeholder')}"></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">{:__('title_col')}</label>
                <div class="col-sm-6"><input type="text" name="title" class="form-control" placeholder="{:__('title_placeholder')}"></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">{:__('type')}</label>
                <div class="col-sm-6">
                    <select name="type" class="form-control">
                        <option value="1">{:__('type_menu')}</option>
                        <option value="2">{:__('type_btn')}</option>
                        <option value="3">{:__('type_api')}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">{:__('ismenu_label')}</label>
                <div class="col-sm-6">
                    <select name="ismenu" class="form-control">
                        <option value="1">{:__('ismenu_show')}</option>
                        <option value="0">{:__('ismenu_hide')}</option>
                    </select>
                    <small class="text-muted">{:__('ismenu_hint')}</small>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">{:__('parent_id')}</label>
                <div class="col-sm-6">
                    <select name="pid" class="form-control">
                        {volist name="parentOptions" id="opt"}
                        <option value="{$opt.id}" {if condition="isset($data.pid) && $data.pid == $opt.id"}selected{/if}>{$opt.title|raw}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">{:__('icon')}</label>
                <div class="col-sm-6"><input type="text" name="icon" class="form-control" placeholder="{:__('icon_placeholder')}"></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">{:__('sort')}</label>
                <div class="col-sm-6"><input type="number" name="sort" class="form-control" value="{$data.sort|default=0}"></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">{:__('status')}</label>
                <div class="col-sm-6">
                    <select name="status" class="form-control">
                        <option value="1">{:__('status_normal')}</option>
                        <option value="0">{:__('status_disabled')}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 offset-sm-2">
                    <button type="submit" class="btn btn-primary">{:__('submit')}</button>
                    <a href="{:url('auth_rule/index')}" class="btn btn-default ml-2">{:__('back')}</a>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
$(function () {
    $('#form-add').attr('action', (typeof Config !== 'undefined' && Config.moduleurl) ? (Config.moduleurl + '/auth_rule/add') : '/admin/auth_rule/add');
    $('#form-add').on('submit', function (e) {
        e.preventDefault();
        $.post($(this).attr('action'), $(this).serialize(), function (r) {
            alert(r.msg);
            if (r.code === 1) location.href = (typeof Config !== 'undefined' && Config.table_index_url) ? Config.table_index_url : '/admin/auth_rule/index';
        }, 'json');
    });
});
</script>
