<div class="card panel-intro">
    <div class="card-header">
        <h5 class="mb-1">{:__('title')}</h5>
        <p class="text-muted small mb-0">{:__('desc')}</p>
    </div>
    <div class="card-body">
        <div id="toolbar" class="toolbar mb-2">
            <button type="button" class="btn btn-default btn-refresh" title="{:__('refresh')}"><i class="fas fa-sync-alt"></i></button>
            <a href="{:url('auth_rule/add')}" class="btn btn-success btn-add"><i class="fas fa-plus"></i> {:__('add')}</a>
            <button type="button" class="btn btn-primary btn-edit" title="{:__('edit_selected')}"><i class="fas fa-edit"></i> {:__('edit')}</button>
            <button type="button" class="btn btn-danger btn-del" title="{:__('del_selected')}"><i class="fas fa-trash-alt"></i> {:__('delete')}</button>
            <button type="button" class="btn btn-default btn-more" disabled title="{:__('more')}"><i class="fas fa-ellipsis-h"></i> {:__('more')}</button>
            <a href="{:url('auth_rule/index')}" class="btn btn-danger btn-showall"><i class="fas fa-list"></i> {:__('show_all')}</a>
        </div>
        <table id="tree-table" class="table table-bordered table-hover table-sm">
            <thead><tr><th width="36"><input type="checkbox" id="check-all" title="{:__('check_all')}"></th><th width="50">ID</th><th>{:__('title_col')}</th><th width="80">{:__('icon')}</th><th>{:__('rule')}</th><th width="70">{:__('weight')}</th><th width="70">{:__('status')}</th><th width="60">{:__('ismenu')}</th><th width="200">{:__('operation')}</th></tr></thead>
            <tbody></tbody>
        </table>
    </div>
</div>
